/*html*/
html {
  position: relative;
  min-height: 100%;

}

body{
	min-height: 100%;
}
.container-fluid{
	padding-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px; /* Set the fixed height of the footer here */
  line-height: 150px; /* Vertically center the text there */
  /*background-color: #D2D2D2;*/
}

img.footerImg{
	height: 150px;
}

/*nav bar*/
.navbar{
	background-color: #D2D2D2;
	text-align: center;
}

.navbar-light .navbar-nav .nav-link{
	color:#8E0000;
	font-weight: bold;
	font-size: 130%;
}

/*hr*/

hr.firstline{
	background-color: #8E0000;
	border-width: 5px;
	margin-top: 0px;
	margin-bottom: 0.3em;
}

hr.secondline{
	background-color: #8E0000;
	border-width: 3px;
	margin-top: 0px;
	margin-bottom: 0.3em;
}

/*titulos*/
h1.titulo{
	text-align: center;
}

/*index*/
div.carousel{
	max-height: 100%
}

/*notario*/
img.notario{
	/*max-height: 250px;*/
	text-align: center;
	align: center;
	margin: 20px;
}

/*directorio*/
div.directorio{
	text-align: center;
}

ul.directorio{
	list-style: none;
}


